@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: "Playfair Display", serif;
}

.spinner {
  background: whitesmoke;
}

.loading-img {
  display: flex;
  margin: 0 auto;
}
